<div class="alert alert-danger">Looks like something wrong happened!</div>

<pre>{{error}}</pre>

<p>This is a standard error page. Since the programmer was too lazy to handle this error more properly, we'll just go ahead and show you a cute bunny with two ducks to calm you down.</p>

<img class='fullwidth' src='/img/bunny.png' alt='A bunny and 2 ducks.'>
<br>
<br>
<strong>BETTER LUCK NEXT TIME!</strong>