#main
{
	margin-top: 70px;
}

form.inline
{
	display: inline-block;
}

input.ng-invalid
{
	color: red;
}

input.ng-valid
{
	color: green;
}

.ng-pristine.ng-valid
{
	color: inherit;
}

img.fullwidth
{
	width: 100%;
}